unpackaged/main/default/flows/TASKRAY_Create_Onboarding_Project_from_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_TaskRay_Project</name>
        <label>Create TaskRay Project</label>
        <locationX>314</locationX>
        <locationY>3074</locationY>
        <actionName>TASKRAY__trStitchProjectFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Estimated_End_Date</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>projectDateTarget</name>
            <value>
                <elementReference>Get_Opportunity.CloseDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>projectName</name>
            <value>
                <elementReference>TheProjectNameFormula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>projectScheduleMode</name>
            <value>
                <stringValue>Start</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>projectTemplateAddressableId</name>
            <value>
                <elementReference>TaskRayBaseTemplateID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>createNewProject</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceRecordId</name>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>taskGroupAddressableIds</name>
            <value>
                <elementReference>templateTaskGroupIdList</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TASKRAY__trStitchProjectFlow</nameSegment>
        <outputParameters>
            <assignToReference>TheProjectId</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_Ad_Hoc_TaskGroup</name>
        <label>Add Ad Hoc TaskGroup</label>
        <locationX>314</locationX>
        <locationY>2750</locationY>
        <assignmentItems>
            <assignToReference>templateTaskGroupIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CONST_TASKGROUP_ADHOC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Training_TaskGroup</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Cloud_Install_TaskGroup</name>
        <label>Add Cloud Install TaskGroup</label>
        <locationX>50</locationX>
        <locationY>1658</locationY>
        <assignmentItems>
            <assignToReference>templateTaskGroupIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CONST_TASKGROUP_INSTALL_CLOUD</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_Base_Template</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Go_Live_TaskGroup</name>
        <label>Add Go Live TaskGroup</label>
        <locationX>314</locationX>
        <locationY>2966</locationY>
        <assignmentItems>
            <assignToReference>templateTaskGroupIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CONST_TASKGROUP_GOLIVE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_TaskRay_Project</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Product_Based_TaskGroups_0</name>
        <label>Add Product-Based TaskGroups</label>
        <locationX>182</locationX>
        <locationY>2258</locationY>
        <assignmentItems>
            <assignToReference>templateTaskGroupIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>intermediateProductTaskrayGroupIdList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ensure_Product_Feature_Based_Task_Groups_are_not_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Product_Feature_Based_TaskGroups</name>
        <label>Add Product Feature Based TaskGroups</label>
        <locationX>182</locationX>
        <locationY>2558</locationY>
        <assignmentItems>
            <assignToReference>templateTaskGroupIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>intermediateProductFeatureTaskrayGroupIdList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Ad_Hoc_TaskGroup</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Server_Install_TaskGroup</name>
        <label>Add Server Install TaskGroup</label>
        <locationX>314</locationX>
        <locationY>1658</locationY>
        <assignmentItems>
            <assignToReference>templateTaskGroupIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CONST_TASKGROUP_INSTALL_SERVER</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_Base_Template</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_TaskGroup_Feature</name>
        <label>Add TaskGroup</label>
        <locationX>842</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>intermediateProductFeatureTaskrayGroupIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_Feature.Related_Feature_TaskGroup_Addressable_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Feature</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_TaskGroup_Product</name>
        <label>Add TaskGroup</label>
        <locationX>622</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>intermediateProductTaskrayGroupIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_Opp_Product.Onboarding_Taskray_Task_Group__r.TASKRAY__trAddressableID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Product_Features</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Training_TaskGroup</name>
        <label>Add Training TaskGroup</label>
        <locationX>314</locationX>
        <locationY>2858</locationY>
        <assignmentItems>
            <assignToReference>templateTaskGroupIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CONST_TASKGROUP_TRAINING</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Go_Live_TaskGroup</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Template_Id_ExistingCustomer</name>
        <label>Set Template Id</label>
        <locationX>446</locationX>
        <locationY>1958</locationY>
        <assignmentItems>
            <assignToReference>TaskRayBaseTemplateID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CONST_TEMPLATE_UPSELL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ensure_Product_Based_Task_Groups_are_not_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Template_ID_NewCustomer</name>
        <label>Set Template ID</label>
        <locationX>182</locationX>
        <locationY>1958</locationY>
        <assignmentItems>
            <assignToReference>TaskRayBaseTemplateID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CONST_TEMPLATE_NEWBUSINESS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ensure_Product_Based_Task_Groups_are_not_null</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>AccountID_MB2Dental</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0016g00000JrMGZAA3</stringValue>
        </value>
    </constants>
    <constants>
        <name>CONST_TASKGROUP_ADHOC</name>
        <dataType>String</dataType>
        <value>
            <stringValue>PT_xB6y82xBT.TG_hRK0W3BRJ</stringValue>
        </value>
    </constants>
    <constants>
        <name>CONST_TASKGROUP_GOLIVE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>PT_xB6y82xBT.TG_hJzAm1Or4</stringValue>
        </value>
    </constants>
    <constants>
        <name>CONST_TASKGROUP_INSTALL_CLOUD</name>
        <dataType>String</dataType>
        <value>
            <stringValue>PT_xB6y82xBT.TG_fomBv2a8d</stringValue>
        </value>
    </constants>
    <constants>
        <name>CONST_TASKGROUP_INSTALL_SERVER</name>
        <dataType>String</dataType>
        <value>
            <stringValue>PT_xB6y82xBT.TG_BOHh68iBs</stringValue>
        </value>
    </constants>
    <constants>
        <name>CONST_TASKGROUP_NURTURE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>PT_xB6y82xBT.TG_cBukdKJoI</stringValue>
        </value>
    </constants>
    <constants>
        <name>CONST_TASKGROUP_TRAINING</name>
        <dataType>String</dataType>
        <value>
            <stringValue>PT_xB6y82xBT.TG_ou7BzcPB6</stringValue>
        </value>
    </constants>
    <constants>
        <description>Base Taskray Template ID for new customers</description>
        <name>CONST_TEMPLATE_NEWBUSINESS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>PT_CmLupONOf.PJ_zO9MEk16N</stringValue>
        </value>
    </constants>
    <constants>
        <description>Base Taskray Template for upsells</description>
        <name>CONST_TEMPLATE_UPSELL</name>
        <dataType>String</dataType>
        <value>
            <stringValue>PT_kAJtcoNRA.PJ_Su8Aisq9L</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Determine_Base_Template</name>
        <label>Determine Base Template</label>
        <locationX>314</locationX>
        <locationY>1850</locationY>
        <defaultConnector>
            <targetReference>Set_Template_Id_ExistingCustomer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing</defaultConnectorLabel>
        <rules>
            <name>Determine_Base_Template_New</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enterprise</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reseller</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Template_ID_NewCustomer</targetReference>
            </connector>
            <label>New Customer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Install_Type_0</name>
        <label>Determine Install Type</label>
        <locationX>314</locationX>
        <locationY>1550</locationY>
        <defaultConnector>
            <targetReference>Determine_Base_Template</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Install_Type_Cloud</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.PMS_Sync_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cloud</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enterprise</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Upsell</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reseller</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Cloud_Install_TaskGroup</targetReference>
            </connector>
            <label>Cloud</label>
        </rules>
        <rules>
            <name>Install_Type_Server</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.PMS_Sync_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Server</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enterprise</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Upsell</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reseller</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Server_Install_TaskGroup</targetReference>
            </connector>
            <label>Server</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ensure_Product_Based_Task_Groups_are_not_null</name>
        <label>Ensure Product Based Task Groups are not null</label>
        <locationX>314</locationX>
        <locationY>2150</locationY>
        <defaultConnector>
            <targetReference>Ensure_Product_Feature_Based_Task_Groups_are_not_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>intermediateProductTaskrayGroupIdList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Product_Based_TaskGroups_0</targetReference>
            </connector>
            <label>Not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ensure_Product_Feature_Based_Task_Groups_are_not_null</name>
        <label>Ensure Product Feature Based Task Groups are not null</label>
        <locationX>314</locationX>
        <locationY>2450</locationY>
        <defaultConnector>
            <targetReference>Add_Ad_Hoc_TaskGroup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_null_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>intermediateProductFeatureTaskrayGroupIdList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Product_Feature_Based_TaskGroups</targetReference>
            </connector>
            <label>Not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Feature_has_TaskGroup</name>
        <label>Feature has TaskGroup</label>
        <locationX>974</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>For_Each_Feature</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Feature_has_TaskGroup_TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_Each_Feature.Related_Feature_TaskGroup_Addressable_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_TaskGroup_Feature</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>If Account is Enterprise, a TaskRay project will not be created UNLESS the Enterprise Parent account is MB2 or Imagen</description>
        <name>Is_Closed_Won</name>
        <label>Is SMB Closed Won?</label>
        <locationX>534</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Is_Closed_Won_TRUE</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.IsWon</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Account.account_size__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Enterprise</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Account.Ultimate_Parent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0016g00000JrMGZAA3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Account.Ultimate_Parent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0014v00002NVoK6AAL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opp_Products</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Has_TaskGroup</name>
        <label>Product Has TaskGroup?</label>
        <locationX>754</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Get_Product_Features</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Product_Has_TaskGroup_TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_Each_Opp_Product.Product2.TaskRay_Task_Group__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>For_Each_Opp_Product.Onboarding_Taskray_Task_Group__r.TASKRAY__trAddressableID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_TaskGroup_Product</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>1/25/24: Updated Project Name Formula to adjust for quarters in new fiscal year.</description>
    <formulas>
        <name>TheProjectNameFormula</name>
        <dataType>String</dataType>
        <expression>CASE(MONTH({!Get_Opportunity.CloseDate}),1, TEXT(YEAR({!Get_Opportunity.CloseDate})-1), TEXT(YEAR({!Get_Opportunity.CloseDate}))) &amp; &quot;.&quot; &amp;
CASE(MONTH({!Get_Opportunity.CloseDate}),1,&quot;Q4&quot;,2,&quot;Q1&quot;,3,&quot;Q1&quot;,4,&quot;Q1&quot;,5,&quot;Q2&quot;,6,&quot;Q2&quot;,7,&quot;Q2&quot;,8,&quot;Q3&quot;,9,&quot;Q3&quot;,10,&quot;Q3&quot;,11,&quot;Q4&quot;,12,&quot;Q4&quot;,&quot;&quot;) &amp; &quot; — &quot; &amp;
TRIM(LEFT( {!Get_Opportunity.Account.Name} , 36)) &amp; &quot; — &quot;
&amp;
IF(
ISPICKVAL({!Get_Opportunity.Type}, &quot;Reactivation&quot;), &quot;Reactivation&quot;, {!Get_Opportunity.RecordType.Name})
&amp;
IF(
CASE( {!Get_Opportunity.RecordType.Name},
&quot;Developer&quot;, 0,
&quot;Referral Partnership&quot;, 0,
&quot;Reseller Partnership&quot;, 0,
1)=1
, &quot; — &quot; &amp; TEXT( {!Get_Opportunity.number_of_locations__c} ) &amp;
IF({!Get_Opportunity.number_of_locations__c}&gt;1,&quot; Locations&quot;, &quot; LOC&quot;), &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <description>Adds 30 days to today&#39;s date</description>
        <name>TodayPlus30</name>
        <dataType>Date</dataType>
        <expression>TODAY () + 30</expression>
    </formulas>
    <interviewLabel>TASKRAY - Create Onboarding Project from Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TASKRAY - Create Onboarding Project from Opportunity</label>
    <loops>
        <name>For_Each_Feature</name>
        <label>For Each Feature</label>
        <locationX>754</locationX>
        <locationY>974</locationY>
        <collectionReference>Get_Product_Features</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Feature_has_TaskGroup</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>For_Each_Opp_Product</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_Each_Opp_Product</name>
        <label>For Each Opp Product</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_Opp_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Product_Has_TaskGroup</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Determine_Install_Type_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opp_Products</name>
        <label>Get Opp Products</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_Opp_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>534</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Closed_Won</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Features</name>
        <label>Get Product Features</label>
        <locationX>754</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_Feature</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>For_Each_Opp_Product.Product2.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Onboarding_Taskray_TaskGroup_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product_Feature_Entry__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Assigns Estimated End Date on TaskRay Project just created.</description>
        <name>Assign_Estimated_End_Date</name>
        <label>Assign Estimated End Date</label>
        <locationX>314</locationX>
        <locationY>3182</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TheProjectId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TASKRAY__Project_End__c</field>
            <value>
                <elementReference>TodayPlus30</elementReference>
            </value>
        </inputAssignments>
        <object>TASKRAY__Project__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>used to store group Ids for specific product features</description>
        <name>intermediateProductFeatureTaskrayGroupIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Used to store product-level taskray groups</description>
        <name>intermediateProductTaskrayGroupIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Kickoff_Event</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <description>Opportunity ID to use for project creation</description>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskRayBaseTemplateID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variables can be Start, End, or a Milestone Id (TaskRay Task record ID)</description>
        <name>templateScheduleModeList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>templateTaskGroupIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>templateTaskGroupTargetDateList</name>
        <dataType>Date</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TheProject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>TASKRAY__Project__c</objectType>
    </variables>
    <variables>
        <name>TheProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
